.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.header__portrait {
  max-width: 40%;
  max-height: 40%;
  border-radius: 50%;
}

.header__title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  margin-left: 20%;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 16px;
}

.section__title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  margin-top: 25px;
  margin-left: 5px;
  font-size: 35px;
}

.footer__item {
  display: none;
}

.footer__rs-logo {
  display: none;
}

.section__text-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  border: 1px solid red;
}

.code-example .section__text-content {
  display: block;
  
}

.section__task {
  display: block;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid red;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: 70px;
  }
  .section__title {
    font-size: 33px;
  }
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 68px;
    margin-left: 9%;
    letter-spacing: 13px;
  }
  .section__title {
    font-size: 31px;
  }
}

@media (max-width: 800px) {
  .header__title {
    font-size: 45px;
    margin-left: 10%;
    line-height: 50px;
    letter-spacing: 12px;
  }
  .section__title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 40px;
    margin-left: 7%;
    line-height: 50px;
    letter-spacing: 10px;
  }
  .section__title {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 40px;
    margin-left: 3%;
    line-height: 50px;
    letter-spacing: 7px;
  }
  .section__title {
    font-size: 22px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 13px;
    font-size: 19px;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 35px;
    margin-left: 2%;
    line-height: 32px;
    letter-spacing: 3px;
  }
  .section__title {
    font-size: 20px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 11px;
    font-size: 18px;
  }
}

@media (max-width: 315px) {
  .header__title {
    font-size: 28px;
    margin-left: 3%;
    line-height: 28px;
    letter-spacing: 3px;
  }

  .section__text-content {
    display: inline-block;
    margin-left: 10px;
    font-size: 17px;
  }
}